<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probabilidades de viajes</title>
    <link rel="stylesheet" href="/css/probabilidad_taxypro.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Acerca de</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="probabilidad">
            <h1>Probabilidades de Viajes</h1>
            <div class="resultado">
              <label for="periodo">Ver probabilidad en:</label>
              <select name="periodo" id="periodo">
                <option value="">Selecciona un periodo</option>
              </select>
              <button type="button" id="verProbabilidad">Ver Probabilidad</button>
            </div>
          </section>
    </main>

    <footer>
        <p>© 2024 TaxyPro. Todos los derechos reservados.</p>
    </footer>

    <script src="/js/probabilidad.js"></script>
</body>
</html>
